body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  font-family: "Orbitron", sand-serif;
}

button {
  font-family: "Orbitron", sand-serif;
  font-size: 1.2em;
  
  height: 3em;
  width: 8em;
  margin: 1em .75em;
}

p {
  font-size: 4em;
  margin: 0 0 .3em 0;
}

#board {
  border: 2px solid slateblue;
  height: 60vh;
  width: 80%;
  bottom: 1em;


  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
}

.target {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .1em;
  background-color: mediumvioletred;

  color: whitesmoke;

}